form{
    display: flex;
}

.container{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 1440px;
    height:900px;
    background-color: #9DBEBB;
}

.rectangle-1{
    width: 954px;
    height:594px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #BE0909;
    box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.25);
}


.rectangle-2{
    width: 345px;
    height: 594px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFB039;
}


.main-pic{
    width: 663px;
    height: 603px;
    display: flex;
   
    
}
 
input{
    border-top: none;   
    border-left: none;   
    border-right: none;
    border-bottom: 1px solid #9DBEBB;   

 }

.name{
    width: 111px;
    height: 21px;
    display: inline-block;
    align-self: center;
    font-family: 'roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    background-color: #BE0909;
    color: #FEFFFF;
    
   

}

.email{
    width: 60px;
    height: 21px;
    display: inline-block;
    align-self: center;
    font-family: 'roboto' , sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    background-color: #BE0909;
    color: #FCFFFF;
    

} 

.your-email{
    width: 150px;
    height: 21px;
    display: inline-block;
    align-self: center;
    font-family: 'roboto' , sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.3em;
    color: #FDFFFF; 


}

.message-re{
    width: 213px;
    height: 21px;
    display: inline-block;
    align-self: center;
    font-family: 'roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FEFFFF;
}

.message-1{
    width: 93px;
    height: 21px;
    display: inline-block;
    align-self: center;
    font-family: 'roboto' , sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    background-color: #BE0909;
    color: rgba(254, 255, 255, 0.98);
    
    

} 

.your-message{
      width: 324px;
      height: 21px;
      display: inline-block;
      align-self: center;
      font-family: 'roboto', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 21px;
      letter-spacing: 0.3em;
      color: #FEFFFF;
}

.main-btn{
    width: 202px;
    height: 48px;
    display: inline-block;
    align-self: center;
    font-family: 'roboto', sans-serif;
    font-style: bold;
    font-weight: 700px;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FEFFFF;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.5);
    background-color: #468189;
    border-radius: 40px;
}